<% if @workout.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@workout.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>

    <ul>
    <% @workout.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 

<h1>New Workout:</h1>
<p>Fill out the fields and hit submit to make your new workout.</p>
<%= form_with model: @workout, url: workouts_path do |f| %>
    <%= f.label :name, "Workout Name:" %>
    <%= f.text_field :name %><br>

    <%= f.label :category, "Category:" %>
    <%= f.text_field :category %><br>

    <%= f.label :duration, "Workout Duration (Minutes):" %>
    <%= f.number_field :duration %><br>

    <%= f.label :num_exercises, "Number of Exercises" %>
    <%= f.number_field :num_exercises %><br>

    <%= f.submit %>

<% end %>
    