<h1><%= @workout.name %></h1>
<p>This <b><%= @workout.category %></b> workout should take 
<b><%= @workout.duration %> minutes </b>to complete.</p>

<table>
    <tr>
        <th>Sets</th>
        <th>Reps</th>
        <th>Exercise</th>
    </tr>
    <% @workout.workouts_exercises.each do |workouts_exercise| %>
        <tr>
            <th><%= workouts_exercise.sets %></th>
            <th><%= workouts_exercise.reps %></th>
            <th><%= workouts_exercise.exercise.name %></th>
            <th><%= link_to "edit", edit_workout_workouts_exercise_path(@workout, workouts_exercise)%></th>
            <th><%= button_to "delete", "/workouts/#{@workout.id}/workouts_exercises/#{workouts_exercise.id}", method: :delete %>
        </tr>
    <% end %>
    <tr>
        <th><%= link_to "Add exercise", new_workout_workouts_exercise_path(@workout) %></th>
    </tr>
</table>

<p>This workout was made by
<%= link_to @author.email, user_path(@author) %>