<h1><%= @workout.name %></h1>
<p>
    This <b><%= @workout.category %></b> workout should take 
    <b><%= @workout.duration %> minutes </b>to complete.<br>
</p>


<table>
    <tr>
        <th>Sets</th>
        <th>Reps</th>
        <th>Exercise</th>
    </tr>
    <% @workout.workouts_exercises.each do |workouts_exercise| %>
        <tr>
            <td><%= workouts_exercise.sets %></td>
            <td><%= workouts_exercise.reps %></td>
            <td><%= workouts_exercise.exercise.name %></td>
        </tr>
    <% end %>
</table>

<p>This workout was made by
<%= link_to @author.email, user_path(@author) %>