<% if @workouts_exercise.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@workouts_exercise.errors.count, "error") %>
      prohibited this exercise from being saved in this workout:
    </h2>

    <ul>
    <% @workouts_exercise.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 

<%= form_with model: @workouts_exercise, url: @form_path do |f| %>
    <%= f.hidden_field :order_occurs, value: @workouts_exercise.order_occurs %>
    <%= f.label :exercise_name, "Exercise Name:"%>
    <%= f.text_field :exercise_name, value: @exercise_name %><br>

    <%= f.label :sets, "Sets:" %>
    <%= f.number_field :sets %><br>

    <%= f.label :reps, "Reps:" %>
    <%= f.number_field :reps %><br>

    <%= f.submit "Submit"%>
<% end %>