<h1>Hello <%= current_user.email %>, You're logged in! Welcome to HyperTrophy!</h1>
<p>
<%= link_to "New Workout",                 new_workout_path %> <br>
<%= link_to "Your Workouts",               workouts_my_workouts_path %> <br><br>
<%= link_to "Users",                       users_path %> <br>
<%= link_to "Workouts",                    workouts_path %> <br>
<%= link_to "Exercises",                   exercises_path %> <br>
<%= link_to "User with Most Workouts",     users_most_workouts_path %> <br>
</p>

<%= link_to "Sign Out", destroy_user_session_path %>